.recipe-list {
  /* display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: fit-content; */

  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* grid-gap: 1.5rem; */
  justify-items: center;
  margin: 0 auto;
}
