
.recommend_recipe{
    height: 100%;
    width: 100%;
}

.recommend:hover{
    cursor: pointer;
    border: 1px solid #000000;
    background-color: #e0e0e0;
}

.recommend{
    height: 120px;
    width: 100%;
    display: flex;
    margin-top: 15px;
    border-radius: 16px;
    border: 1px solid #848484;
}

.recommend img{
    height: 100%;
    border-radius: 16px;
}

.recommend__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
}