.profile{
    width: 90%;
    height: 100%;
    border: 1.5px solid #000000;
    border-radius: 16px;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 20px;
    background-color: white;
}

.profile__cover{
    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
    max-height: 650px;
}

.profile__cover img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    image-orientation: from-image;
    border-radius: 16px 16px 0px 0px;
    position: relative;
}

.profile__cover__avatar{
    /* position: relative;
    top:-50%; */
    
        /* display: flex;
        align-items: end;
        justify-content: flex-start; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 30px ;
    width: 100%;
}

.profile__cover__avatar img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 10px solid white;
    background-color: white;
    margin-left: 10%;
    margin-top: -70px;
}

.profile__cover__name{
    font-weight: lighter;
    font-size: 130%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 5px;
    
}

.profile__cover__editBtn{
   margin-left: auto;
   margin-right: 5%;
}

.profile__info{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

.profile__info__preference{
    background-color: #f4f4f4;
    width: 32%;
    border-radius: 16px; 
    padding: 20px;
    height: fit-content;
    position: sticky;
    top: 60px;
}

.profile__info__preference h6{
    font-weight: lighter;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.profile__info__yourRecipe{
    background-color: #f4f4f4;
    width: 60%;
    border-radius: 16px; 
    padding: 20px;
    margin-bottom: 20px ;
}

.profile__info__yourRecipe h6{
    font-weight: lighter;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.profile__info__yourRecipe__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.profile__info__yourRecipe__title h2{
    font-size: 20px;
}
.profile__dialog__avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}


.profile__dialog__avatar__edit{
    position: relative;
    overflow: hidden;
    /* width: 250px;
    height: 250px;
    border-radius: 50%; */
}

.profile__dialog__avatar__edit:hover .profile__dialog__avatar__edit__btn{
    opacity: 1;
    cursor: pointer;
}

.profile__dialog__avatar__edit:hover img{
    opacity: 0.5;
}

.profile__dialog__avatar__edit__btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}


.profile__dialog__avatar__edit img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: white;
    border: #000000 1px solid;
}

.profile__dialog__cover{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.profile__dialog__cover h2{
   align-self: flex-start; 
}

.profile__dialog__avatar h2{
    align-self: flex-start;
}

.profile__dialog__cover img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
    image-orientation: from-image;
    border-radius: 16px 16px 0px 0px;
    position: relative;
}

.profile__dialog__name h2{
    padding-bottom: 10px;
}
.profile__dialog__description h2{
    padding-bottom: 10px;
}

.edit_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit_form_dragArea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border: 1px dashed #000000;
    width: 80%;
}

@media (max-width: 768px) {

    .profile__cover img{
        height: 100%;
    }

    .profile__cover__avatar{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .profile__cover__avatar img{
        margin: 0;
        margin-top: -100px;
    }

    .profile__cover__name{
        font-size: 20px;
        padding: 10px;
    }

    .profile__cover__editBtn{
        margin: 0;
    }

    .profile__info__preference{
        position: static;
    }

    .profile__info{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile__info__preference{
        width: 95%;
        margin-bottom: 20px;
        
    }

    .profile__info__yourRecipe{
        width: 95%;
    }
}
    



