
.import-form{
    max-width: 1600px;
    margin: 0 auto;
    border: 1.5px solid #000000;
    border-radius: 16px;
    padding: 10px 15px;
    background-color: white;
}

.import-form__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.import-form__title__buttons span{
    /* margin: 20px; */
}

.import-form__Detail{
    padding-top: 20px;;
}

.import-form__Detail p{
    font-size: large;
    font-weight: lighter;
    margin: 5px 0px 15px 0px;
}

.import-form__Detail__RecipeImage__upload{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 10px;
    
}

.import-form__Detail__RecipeImage__upload p{
    max-width: 400px;
    white-space: wrap;
    color: #ccc;
}

