.rating_area{
    display: flex;
    flex-direction: column ;
    justify-content: center   ;
    align-items: center;
    margin: 0;
    width: 100%;
    height: fit-content;
    border-radius: 16px;
    padding: 20px;
}

.rating_area_overView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating_area_overView p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding-top: 8px;
    color: #a1a1a1;
}

.rating_area_overView_score{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 25px;
    background-color: #f1f0f0;
}

.rating_area_overView_score p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    padding-left: 10px;
    padding-right: 15px;
    color: #747474;
}

.rating_area_yourPoint{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.rating_area_yourPoint h6{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.rating_area_countRatingPoint{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin: 7px 0;
}

.rating_area_countRatingPoint p{
    font-size: 14px;
    font-weight: 100;
    color: #747474;
}



