:root {
    --backgroundColor: #ffffff;
}

.recipeDetail__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.recipeDetailContainer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}


.recipeDetail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 340px repeat(2, auto);
    row-gap: 10px;
    height: 100%;
    
    border-radius: 25px;
    margin: 0 auto;
    width: 100%;
    background-color: #ffffff;
    padding: 15px;
}

.recipeDetail__introduction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.recipeDetail__statistic {
    display: flex;
    align-items: center;
    /* Align children vertically */
    justify-content: space-between;
    /* Add space between children */
    gap: 10px;
    /* Adds space between Statistics components */
    padding: 5px;

}

.line {
    display: block;
    width: 1px;
    /* Set the width to define the line's thickness */
    height: 70px;
    /* Make the line have the full height of the div */
    background-color: #ccc;
    /* Set the color of the line */
}

.statistics {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.statistics p:nth-child(1) {
    font-size: 32px;
}

.statistics p:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
}

.userFeature{
    display: flex;
    gap: 25px;
}

.recipeDetail__image{
    margin: 0 auto; 
    text-align: center;
}

.recipeDetail__image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    margin: 0 auto; 
    height: 337px;
}

.recipeDetail__description{
    padding: 20px;
    
}

.recipeDetail__ingredient{
    padding: 20px;
}

.ingredients li{
    font-size: 20px;
}
.recipeDetail__instruction{
    grid-column: 1 / 3;
}


.instruction{
    
    padding: 20px;
}

.instruction h1{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;
}

.instruction p{
    font-size: 20px;
    margin-bottom: 10px;
}

.recipeDetail__rating{
    grid-column: 1 / 3;
    margin: 0 auto;
    width: 70%;
}

.myRecipeDetail{
    grid-column: 1 / 3;
    height: 100%
}

@media (max-width: 800px) {
    .recipeDetail{
        display: flex;
        flex-direction: column;
    }
}






/*.recipeDetail img{
    max-width: 95%;
    object-fit: cover;
    object-position: center;
    border-radius: 40px;
    margin: 0 auto; 
}

.recipeDetail__rating{
    grid-column: 1 / 3;
    margin: 0 auto;
    width: 70%;
}

.introduction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    padding: 20px;

}

.introduction h1{
    font-size: 3em;
    font-weight: 700;
    margin: 0;
    padding: 0;
    justify-self: flex-start;
}

.introduction p{
    font-size: 20px;
}

.recipeStatistic{
    display: flex;
    width: 100%;
}

.statistic {
    display: flex;
    height: 100%;
    width: 80px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #61e7a6;   
    border-radius: 50px;
    margin: 10px;
    padding: 7px;
}

.amount{
    margin: 0;
    padding: 0;
    border-radius: 50px; 
    background-color: #CFFFD3;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.amount h2{
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-weight: 700;
}

.statistic p{
    font-size: 12.6px; 
    margin-bottom: 20px;
}

.ingredients{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 20px;
    
}

.ingredients ul {
    list-style-type: disc;
}

.ingredients li{
    font-size: 20px;
    margin-bottom: 10px;
}

.ingredients h1{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;
}

.description{
    padding: 20px;
    background-color: #CFFFD3;
    border-radius: 16px;
    height: fit-content;
}

.instruction{
    grid-column: 1 / 3;
    padding: 30px;
}

.instruction h1{
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;
}

.instruction p{
    font-size: 20px;
    margin-bottom: 10px;
}

.myRecipeDetail{
    grid-column: 1 / 3;
}

.recommendRecipe{
    width: 23%;
    position: sticky;
    top: 75px;
    height:fit-content;
    overflow: scroll;
    height: 90vh;
}

.recommendRecipe::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1300px) {
    .recipeDetailContainer{
        width: 100%;
    }

    .recommendRecipe{
        display: none;
    }
    .recipeDetail{
        width: 100%;
    }
    .recipeDetail__rating{
        width: 90%;
    }
    
}

@media (max-width: 1070px) {

    .recipeDetail{
        display: flex;
        flex-direction: column;
    }
    .introduction{
        padding: 5px;
    }
    .introduction h1{
        font-size: 2em;
    }

    .ingredients{
        margin: 0 auto;
    }

    .ingredients h1{
        font-size: 1.5em;
    }

    .ingredients li{
        font-size: 17px;
    }

    .description h1{
        font-size: 1.5em;
    }

    .description p{
        font-size: 16px;
    }

    .instruction h1{
        font-size: 1.5em;
    }

    .instruction p{
        font-size: 16px;
    }
    .recipeDetail__rating{
        width: 90%;
    }
    .rating_area{
        width: 100%;
        padding: 0;
    }
} */


/* @media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/ xl /
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/ lg /
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/ md /
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/ sm /
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/ xs */
/* @media (max-width: 475px) {
    .container {
      width: 100%;
    }
  }  */