.navbar-container {
  height: 56px;
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  z-index: -1;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(230, 230, 230);
  background-color: white;
}

.navbar-start {
  display: flex;
  align-items: center;
  padding-left: 90px;
}

.food {
  font-size: 1.5rem;
  font-weight: 600;
}

.rec {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(122, 210, 122);
}

.navbar-middle {
  flex: 1;
  margin-right: 35px;
  margin-left: 35px;
  max-width: 800px;
  display: flex;
  align-items: center;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  width: 200px;
  justify-content: center;
  white-space: nowrap;

}

.title {
  font-size: 18px;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  color: #0f1b3e;
}

.hello {
  font-weight: 300;
  font-size: 13px;
  text-align: center;
  color: #7c7c7c;
}


.search-bar {
  height: 35px;
  border-radius: 5px;
  border: 1px solid rgb(230, 230, 230);
  background: transparent;
  flex: 1;
  display: flex;
}

.in-search-bar {
  height: 35px;
  border-radius: 5px;
  border: none;
  background: transparent;
  flex: 1;
  display: flex;
  padding: 5px 15px;
  font-size: 15px;
}

.icon-search-bar {
  position: absolute;
  right: 10px;
  top: 5px;
  color: rgb(230, 230, 230);
}

.navbar-end {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 150px;
  align-items: center;
  justify-content: space-around;
}

.notification-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  
}

.notification-icon:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.login-btn {
  background: #fcfcfc;
  border: 1px solid #635e5e;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 15px;
  line-height: 20px;
  color: #0f1b3e;
}

.login-btn:hover {
  background: #0f1b3e;
  color: #fcfcfc;
  cursor: pointer;
  transition: all 0.5s;
}

.avatar{
  cursor: pointer;
}