@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

#root {
  width: 100%;
  height: 100%;
}

.sidebar {
  grid-area: sidebar;
  z-index: 2;
}

.header {
  grid-area: header;
  z-index: 1;
  width: 100%;
  grid-column: sidebar / content;
}

.content {
  grid-area: content;
  padding: 16px;
  width: 100%;
}

.App {
  height: 100vh;
  background-image: url("./assets/banner-marble-bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: grid;
  /* grid-template-rows: [sidebar header] auto [content] auto; */
  grid-template-rows: [sidebar] 0px [header] 56px [content] auto;
  grid-template-columns: [sidebar] 64px [header content] auto;
}

.page-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #ffffff;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.like-page-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
